@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --font-serif: var(--font-prata), ui-serif, Georgia, "Times New Roman", serif;
}

body {
  font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  background-color: #09090b;
  color: #e5e7eb;
}
